<script>
    //hide Educational Background
    $(document).ready(function(){
        $("#educationalBackground").click(function(){
            $("#hideEducationalBackground").slideToggle("slow");
        });
    });
    // hide project work
    $(document).ready(function () {
        $("#projectWork").click(function () {
            $("#hideProjectWork").slideToggle("slow");
        });
    });
    // hide tools and technologies
    $(document).ready(function () {
        $("#toolsAndTechnologies").click(function () {
            $("#hideToolsAndTechnologies").slideToggle("slow");
        });
    });
    // hide languages known
    $(document).ready(function () {
        $("#languagesKnown").click(function () {
            $("#hideLanguagesKnown").slideToggle("slow");
        });
    });
    //hide additional skills
    $(document).ready(function () {
        $("#additionalSkills").click(function () {
            $("#hideAdditionalSkills").slideToggle("slow");
        });
    });
    //hide personal details
    $(document).ready(function () {
        $("#personalDetails").click(function () {
            $("#hidePersonalDetails").slideToggle("slow");
        });
    });

    

</script>

<h2 style="color: black"> Prem Penugula</h2>

Fr-Wilh-v-Steuben Straße 90<br/>
60488 - Frankfurt am Main <br/>
Deutschland<br/><br/>

<p><img src="~/Content/Icons/Phone.png" style= "vertical-align:middle"/>  +49 (0) 17680584732 <br/></p>
<img src="~/Content/Icons/Mail.png" style= "vertical-align:middle"/> <a href="mailto:prem.penugula@gmail.com"> prem kumar penugula </a>

<br/>

<div style="/*padding-left: 40px;*/ padding-top: 40px">
    <h3 id="educationalBackground" style="cursor: pointer"> Educational Background </h3>
    <div id="hideEducationalBackground" style="display: none; background: #edebeb">
        <table>
            <tr>
                <td><b>Frankfurt am Main, DE</b></td>
                <td><b>Frankfurt University of Applied Sciences</b></td>
                <td style="text-align: right; padding-left: 5px"><b>March 2012 - July 2015</b></td>
            </tr>
            <tr>
                <td>
                    M.Sc. in High Integrity Systems (Computer Science)
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul style="padding-left:20px">
                        <li>
                            <b>Graduate Coursework: </b>
                            Database Management Systems, Transaction Management, Advance Testing, Data Mining, Pattern Oriented Software, Formal Modeling, Advanced IT Security, Standards and Certifications.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="spaceUnder">
                 <td></td>
             </tr>
            
             <tr>
                <td><b>Hyderabad, India</b></td>
                <td><b>Jawaharlal Nehru Technological University</b></td>
                <td style="text-align: right; padding-left: 5px"><b>August 2007 - July 2011</b></td>
            </tr>
            <tr>
                <td>
                    Bachelor of Technology in Information Technology
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <h3 id="projectWork" style="cursor: pointer"> Project Works </h3> 
    <div id="hideProjectWork" style="display: none; background: #edebeb">
        <table>
            @*Thesis*@
            <tr>
            <td colspan="3"><b style="text-decoration: underline">Master Thesis</b></td>
            <tr>
                <td><b>Freiburg im Breisgau, DE</b></td>
                <td><b>ECOMAL Europe GmbH</b></td>
                <td style="text-align: right; padding-left: 5px"><b>October 2014 - June 2015</b></td>
            </tr>
            <tr>
                <td>
                    <em> Title : <b>  Design and Implementation of Cloud based Customer Portal </b></em> 
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul style="padding-left: 20px">
                        <li>Designed and Implemented web based Customer Portal using ASP.Net MVC4, C#, Unity and NHibernate.</li>
                        <li>Designed and Implemented MS SQL 2012 Database to support web application.</li>
                        <li>Designed and Implemented ETL Operations using MS SSIS Packages for data synchronization.</li>
                        <li>Deployed web application and MS SQL Database to Azure Platform.</li>
                    </ul>
                </td>
            </tr>

            <tr class="spaceUnder">
                <td></td>
            </tr>
            
            @*Internship*@
            <tr>
            <td colspan="3"><b style="text-decoration: underline">Internship</b></td>
            <tr>
                <td><b>Villingen-Schwenningen, DE</b></td>
                <td><b>Continental Automotive GmbH</b></td>
                <td style="text-align: right; padding-left: 5px"><b>March 2014 - August 2014</b></td>
            </tr>
            <tr>
                <td>
                    <em> Title : <b> Isore+ Test Framework </b></em> 
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    The project was to design and develop a GUI Application and extending test framework for the software product 
                    simulating the tachograph results produced by latest software changes against the prevision release.
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul style="padding-left: 20px">
                        <li>Developed a Windows GUI application for displaying and editing MS SQL database.</li>
                        <li>Designed and Implemented MS SQL 2012 Database to support web application.</li>
                        <li>Developed MS SQL database for storing test results.</li>
                        <li>Added extensions for Isore Testing Framework for database communication.</li>
                    </ul>
                </td>
            </tr>
            
            <tr class="spaceUnder">
                <td></td>
            </tr>
            
            @*Work Student*@
            <tr>
            <td colspan="3"><b style="text-decoration: underline">Work Student</b></td>
            <tr>
                <td><b>Frankfurt am Main, DE</b></td>
                <td><b>Frankfurt University of Applied Sciences</b></td>
                <td style="text-align: right; padding-left: 5px"><b>March 2012 - October 2012</b></td>
            </tr>
            <tr>
                <td>
                    <em> Title : <b> IT Technical Support </b></em> 
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul style="padding-left: 20px">
                        <li>Worked as a student assistant in the department of data processing at Fachhochschule Frankfurt am Main.</li>
                        <li>The central task was to implement the project AD2 which completes the installation and partial replacement of workstations from old Active Directory Domain to new Windows 2008 R2 Active Directory Domains.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <h3 id="toolsAndTechnologies" style="cursor: pointer"> Tools and Technologies </h3> 
    <div id="hideToolsAndTechnologies" style="display: none; background: #edebeb">
        Test Note
    </div>
    <br/>
    <h3 id="languagesKnown" style="cursor: pointer"> Languages Known </h3> 
    <div id="hideLanguagesKnown" style="display: none; background: #edebeb">
         <ul style="padding-left: 20px;padding-bottom: 10px; padding-top:10px" >
             <li> Native Language - Telugu </li>
             <li> Fluent in - English </li>
             <li> Good in - German </li>
        </ul>
    </div>
    <br/>
    <h3 id="additionalSkills" style="cursor: pointer"> Additional Skills </h3> 
    <div id="hideAdditionalSkills" style="display: none; background: #edebeb">
        <ul style="padding-left: 20px;padding-bottom: 10px; padding-top:10px" >
            <li> Hard Working. </li>
            <li> Keen to learn new things. </li>
            <li> Performed a training session on MS SSIS for EDV Team at ECOMAL Europe GmbH. </li>
            <li> Client demo to the company’s top management and its customer at ECOMAL Europe GmbH in German. </li>
        </ul>
    </div>
    <br/>
    <h3 id="personalDetails" style="cursor: pointer"> Personal Details </h3> 
    <div id="hidePersonalDetails" style="display: none; background: #edebeb">
        <table style="padding-top: 10px; padding-left: 5px">
        <tr>
            <td > First Name </td>
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> - </td> 
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> Prem kumar </td>
            <td rowspan="6" style="padding-left: 150px">
                 @*Image*@ 
                <img src="/Content/Images/Resume Image.jpg" style="height: 200px; width: 150px; /*float: right*/"/> 
            </td>
        </tr>
        <tr>
            <td> Last Name </td> 
            <td> &nbsp; &nbsp; &nbsp;</td>
            <td> - </td> 
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> Penugula </td>
        </tr>
        
        <tr>
            <td> Date of Birth </td>
            <td> &nbsp; &nbsp; &nbsp; </td> 
            <td> - </td> 
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> 04.12.1989 </td>
        </tr>
        
        <tr>
            <td> Place of Birth </td>
            <td> &nbsp; &nbsp; &nbsp; </td> 
            <td> - </td> 
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> Hyderabad </td>
        </tr>
        
        <tr>
            <td> Nationality </td>
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> - </td>  
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> Indian </td>
        </tr>
        
        <tr>
            <td> Marital Status </td>
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> - </td>  
            <td> &nbsp; &nbsp; &nbsp; </td>
            <td> Single </td>
        </tr>
        </table>
        

    </div>
    <br/>
</div>

























