@{
    ViewBag.Title = "Index";
}

<div>
    
    <div style="text-align: center;" >
        <img src="~/Content/Images/PrasannaNeons.gif" alt="what image shows" height="300" width="1000">
    </div>
    
    
   
</div>